div,
ul,
li,
h3 {
  margin: 0;
  padding: 0;
}
#odiv {
  height: 40px;
  position: relative;
  overflow: hidden;
  margin: 0  auto;
}
#odiv ul {
  position: absolute;
  left: 0;
  top: 0;
}
#odiv ul li {
  list-style: none;
  color: #000000;
  font-size: 14px;
  line-height: 40px;
  float: left;
  padding-left: 30px;
}
#odiv ul li p {
  color: #fe0000;
  font-weight: bold;
}
.header {
  background: #fecb16;
}
.banner {
  background: #000000;
}
.banner .a {
  margin-left: 10px;
}
.banner p {
  margin: 0;
}
.navbar {
  border: 0;
  margin: 0;
}
.navbar ul {
  height: 55px;
  margin-top: 5px;
}
.navbar ul .bist {
  background: url(../images/lg_07.png) no-repeat right top;
}
.navbar ul .bist .top {
  display: inline-block;
  width: 22px;
  height: 12px;
}
.navbar p {
  color: white;
  line-height: 60px;
}
.navbar input {
  margin-left: 80px;
  width: 142px;
  height: 24px;
  margin-top: 23px;
  background: black;
  border: 0;
  border-bottom: 1px solid white;
}
.banner-a {
  height: 40px;
}
.banner-b .row {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
}
.banner-b p {
  margin-top: 15px;
  margin-right: 10px;
  font-weight: bold;
}
.banner-b button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 0;
}
.bb {
  height: 80px;
  background: #DDDDDD;
}
.cen {
  background: #DDDDDD;
}
.cen .la {
  background: white;
  padding: 0 5px;
}
.cen p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.fenye {
  margin: 0 auto;
  margin-top: 60px;
  height: 50px;
  width: 685px;
}
.fenye p {
  text-align: center;
  float: left;
}
.f {
  height: 60px;
}
.footer-a {
  border-bottom: 1px solid #ddd;
  padding-bottom: 37px;
}
.footer-a p {
  padding-right: 30px;
}
.footer-b {
  height: 100px;
}
.lll {
  background: #ffffff;
  width: 68px;
  height: 370px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  position: fixed;
  left: 5px;
  top: 265px;
}
.lll .topp .bo {
  margin: 0 auto;
  width: 56px;
  height: 1px;
  border-bottom: 1px solid #DDDDDD;
}
.lll .topp p {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 2px;
  margin: 0;
  text-align: center;
}
#foot {
  margin-top: 30px;
}
#foot .col-md-12 p {
  line-height: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}
#foot .col-md-12 p a {
  color: #999999;
  padding-right: 30px;
}
#foot .col-md-7 a {
  color: #999999;
  line-height: 40px;
}
#foot .col-md-7 {
  margin-top: 100px;
  border-right: 1px solid #eaeaea;
}
/*#foot .col-md-5 .col-md-8{
    font-size: 20px;
}*/
#foot .col-md-5 .col-md-8 .tel {
  font-weight: 600;
  font-size: 20px;
}
#foot .col-md-5 .col-md-8 p {
  line-height: 20px;
}
#foot .col-md-5 .col-md-8 h5 {
  margin-top: 20px;
}
#foot .col-md-5 .col-md-4 {
  margin-top: 130px;
}
#foot .hidden-xs h6 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #999999;
}
#foot .hidden-xs h6 span {
  margin-top: 50px;
  color: #f00;
  margin-right: 15px;
}
#footer {
  background: #fafafa;
  padding: 40px 0;
}
#footer p {
  color: #999999;
}
#footer .last {
  position: relative;
}
#footer .last .pic {
  position: absolute;
  top: 0;
  left: 680px;
}
